alembic
aniso8601
blinker
certifi
chardet
click
Flask
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
pytz
requests
six
SQLAlchemy
typing-extensions
urllib3
Werkzeug
zipp
python-dotenv
timezonefinder
sunnyday
folium
pandas
