{% extends "base.html" %}
{% block title %}Index page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <br/>
      {% for msg in messages %}
        <p class="sub-headers">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if "temporary" in session %}
    <p class="center-content">Click the button below to start over.</p>
    
    <div class="center-content"> 
      <form action="logout" method="post">
        <input type="submit" value="Start over">
      </form>
  </div>
  {% elif "user" not in session%}
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          </div>
  
  
  
              <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h1>
              <br/>
              <form action="login" method="post">

              <div class="form-outline mb-4">
                <input type="text" id="form2Example18" class="form-control form-control-lg" name="username" />
                <label class="form-label" for="form2Example18">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="email" id="form2Example28" class="form-control form-control-lg" name="email" />
                <label class="form-label" for="form2Example28">Email</label>
              </div>
              
              <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>

            </form>
            <br/>
            <p class="small mb-5 pb-lg-2">Don't have an account? </p>
            
            <form action="signup" method="get">
              <button type="submit" id="sendlogin" class="btn btn-primary">Sign Up</button></p>
  
            </form>

          </div>
        </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://cdn.britannica.com/58/94458-050-0C18D00E/Yosemite-National-Park-California.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
  
{% elif "user" in session %}
  <p>You are currently logged in as {{ session["user"] }}</p>
  <form action="logout" method="get">
    <input type="submit" value="Log Out"> 
  </form>
{% endif %}


{% endblock %}