{% extends "base.html" %}
{% block cssOverride %}<link rel="stylesheet" type="text/css" href="../static/css/custom.css">{% endblock %}


{% block content %}
{% if "user" in session %}
    <p>Georgia CampingInfo</p>
    
    <form action="info" method="post">
      <input type="submit" value="Map">
    </form>
    <div class = "park">
      <ul>

        <form action="parking" method="post">
          <input type="submit" value="refresh">
        </form>
      </ul>
    </div>
    <div class = "information">
      <ul>{{name}}</ul>
      <ul>{{hours}}</ul>
      <ul>{{coord}}</ul>
      <ul>{{state}}</ul>
    </div>
    <a href = "{{directions}}">Click here to see {{state}} national park website!</a>

{% endif %}

{% endblock %}